
.korzinaPage{
   height: 100%;
    width:100%;
    justify-content: center;

    
}
.korzina{
    min-height: 628px;
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.korzina_none{
    display: flex;

    flex-direction: column;
    align-items: center;

}
.korzina_none h1{
    margin-top: 70px;
    margin-bottom: 100px;
}
.korzinaItem{
    display: grid;
    justify-content: center;
    align-items: center;
    
}
.korzina_item_page{
    margin-top: 30px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    
}
.korzina_image{
    display: flex;
    width: auto;
    justify-content: left;
    
}
.korzina_name{
    text-align: center;
    white-space: wrap;
    width: 100px;
    margin: 0px 50px;
    font-size: 18px;
}
.quantity{
    display: flex;
    justify-content: center;
    border: 1px solid none;
    height: 45px;
    padding: 0px 35px;
    border-radius: 25px;

    gap: 20px;
    white-space: nowrap;
    margin: 0px 50px;
}
.quantity span{
    display: flex;
    font-size: 20px;
    position: relative;
    align-items: center;
    cursor: pointer;
    background-color: #573128ea;
    color: white;
}
.quantity p{
    
    position: relative;
    font-size: 20px;
    min-width: 20px;
    bottom: 8px;
    
}

.quantity span:first-of-type{
    padding: 0px 15px;
    border-radius: 25px;
    right: 35px;
    border: 1px solid rgba(0, 0, 0, 0.336)
    
}
 .quantity span:last-of-type{
    padding: 0px 15px;
    border-radius: 25px;
    left: 35px;
    border: 1px solid rgba(0, 0, 0, 0.336);
} 
.quantity span:hover{
    transition: 0.4s;
    background-color: #5731289f;;
    border: 1px solid transparent;
  
}
.korzina_price{
    width: 10px;
    height: 100%;

    font-size: 18px;
    font-weight: bold;
    margin-left: 40px;
    white-space: nowrap;
    text-align: center;
}
.korzina_image img{
    width: 220px;
    height: auto;
}
.buy_container{
    display: flex;
    justify-content: center;  
}
.korzina_buy{
    display: flex;
   height: 150px;
   align-items: center;
    font-size: 20px;
}
.delete_item{
    height: 20px;
    cursor: pointer;
}

 @media (max-width: 950px) {
    .korzina_item_page{
        display: grid;
        grid-template-columns: 100px 120px;
        column-gap: 120px;
        row-gap: 0px;
        align-items: center;
        justify-content: center;
        white-space: wrap;
    }
    .korzina_name{
        width: auto;
    }
    
    .quantity{
        margin-left: 80px;
    }
    .korzina_price{
       margin-left: 50px;
    }
}
@media (max-width:550px) {
   
   
    .korzina_name{
        font-size: 15px;
        
    }
    .korzina_price{
        width: 0px;
    }
   

    
} 
 @media (max-width:365px) {
    .korzina_item_page{
        
       column-gap: 80px;
       
    }
    .korzina_name{
        width: 10px;
        margin: 0px;
    }
    .korzina_price{
        width: 0px;
        margin: 0px;
    }
    
    .korzina_image img{
        width: 150px;
        height: auto;
    }
    .quantity{
        display: flex;
        justify-content: center;
        border: 1px solid none;
        height: 45px;
        padding: 0px 35px;
        border-radius: 25px;
        gap: 5px;
        white-space: wrap;
        margin: 0px 50px;
    }
    .quantity span{
        display: flex;
        font-size: 15px;
        position: relative;
        align-items: center;
        cursor: pointer;
        background-color: #573128ea;
        color: white;
    }
    .quantity span:first-of-type{
        padding: 0px 15px;
        border-radius: 25px;
        right: 25px;
        border: 1px solid rgba(0, 0, 0, 0.336)
        
    }
     .quantity span:last-of-type{
        padding: 0px 15px;
        border-radius: 25px;
        left: 25px;
        border: 1px solid rgba(0, 0, 0, 0.336);
    } 
    .quantity span:hover{
        transition: 0.4s;
        background-color: #5731289f;;
        border: 1px solid transparent;
      
    }
    .korzina_buy{
        white-space: wrap;
        font-size: 20px;
    }
    
} 
 @media (max-width:300px) {
    .korzinaPage{
        min-height: 580px;
    }
    .korzina_item_page{
        grid-template-columns: 80px 80px;
      
    }
   
    .korzina_image img{
        width: 100px;
        height: auto;
        margin-left: 35px;
    }
 .quantity{ 
        display: flex;
        justify-content: center;
        border: 1px solid none;
        height: 45px;
        padding: 0px 35px;
        border-radius: 25px;
        gap: 0px;
        white-space: nowrap;
        margin: 0px, 50px;
    }
    .quantity span{
        display: flex;
        font-size: 15px;
        position: relative;
        align-items: center;
        cursor: pointer;
        background-color: #573128ea;
        color: white;
    }
    .quantity span:first-of-type{
        padding: 0px 10px;
        border-radius: 25px;
        right: 20px;
        border: 1px solid rgba(0, 0, 0, 0.336)
        
    }
     .quantity span:last-of-type{
        padding: 0px 10px;
        border-radius: 25px;
        left: 20px;
        border: 1px solid rgba(0, 0, 0, 0.336);
    } 
    .quantity span:hover{
        transition: 0.4s;
        background-color: #5731289f;;
        border: 1px solid transparent;
      
    }
} 
